.vscode
data/external_data/industry/*.txt
data/external_data/industry/*.tsv
*.zip
code/summarise_tables.r
*.xlsx
# *.sqlite - to allow docker build; will be re-added once datagen scripts are in docker
*_DEPRECATED.r
# *temp/ - to allow docker build; will be re-added once datagen scripts are in docker
*.html